[submodule "assignment-autotest"]
	path = assignment-autotest
	url = git@github.com:cu-ecen-aeld/assignment-autotest.git
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:buildroot/buildroot.git
